/* You can add global styles to this file, and also import other style files */

body { 
height: 100%;width: 100%;
/*background: linear-gradient(black, black);*/
background-image: url('./assets/dark-orange-backdrop-with-lines-repeated-lines-on-abstract-background-with-gradient-pattern-for-booklets-leaflets-vector.jpg');
/*background-size:100% 100%;*/

margin: 0;
font-family: Roboto, "Helvetica Neue", sans-serif;
font-weight: bold;

}



