<div class="container">
    <div class="border-form">
        <div class="header-form">
            <div class="title">
                <h2>Login Form</h2>
            </div>
        </div>
    
        <div class="example-container">
            <mat-form-field appearance="fill">
                <mat-label>Enter your username <span class="validForm" *ngIf="IsFormValid == false">*</span></mat-label>
                <input matInput placeholder="Placeholder" [(ngModel)]="username">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
        </div>
         
        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>Enter your password<span class="validForm" *ngIf="IsFormValid == false">*</span></mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
              <mat-error></mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
        </div>
        <div class="example-container" >
            <button mat-raised-button color="warn" (click)="Login()">Login</button>
        </div>

        <div class="example-container">
            <a routerLink="/register">Not signed up yet?</a>
        </div>
    </div>
</div>