.container{
    height: 100%;
    margin-top: 10%;
}

.pannello {
    padding-top: 2%;
    margin-top: 1%;
   
}

.immagine img{
    height: 500px;
    width: 90%;
}

.immagine{
    
    height: 100%;
}

.example-sidenav-content button{
    font-size: 1.5em;
}

.show{
    width: 100%;
    text-align: center;
}



