
<div class="contenitore-carosello">
    <div class="carosello">
        <carousel>
            <slide>
              <a ><img src="../../../assets/el-americano-the-movie-2014-cartoon.jpg" alt="first slide" style="display: block; width: 100%;"></a>
            </slide>
            <slide>
              <a ><img src="../../../assets/67-670663_hollywood-movie-poster-hd.jpg" alt="second slide" style="display: block; width: 100%;"></a>
            </slide>
            <slide>
              <a ><img src="../../../assets/poster-del-film-oblivion-sfondo-2048x1152_49.jpg" alt="third slide" style="display: block; width: 100%;"></a>
            </slide>
            <slide>
              <a><img src="../../../assets/the-dark-knight-rises-poster-del-film-sfondo-2560x1440_51.jpg" alt="fourth slide" style="display: block; width: 100%;"></a>
            </slide>
          </carousel>
    </div>
</div>
<div class="container">
    <div class="introduction">
        <div class="title">
            <h1>CINEMA ONLINE</h1>
        </div>
        <div class="description">
            <p>Guida alla programmazione dei film in uscita nelle sale cinematografiche di Torino.
                Prenota il tuo biglietto online e salta la fila alla biglietteria».</p>
        </div>
    </div>
</div>
<div class="container contenitore-sezione-centrale">
  <app-movie-card *ngFor="let movie of movies ;let i=index " [movie]="movie" [img]="movieImages[i]" ></app-movie-card>
</div>

