<div class="container">
    <div class="introduction">
        <div class="title">
            <h1>CINEMA TORINO</h1>
        </div>
        <div class="description">
            <p>Guida alla programmazione dei film in uscita nelle sale cinematografiche di Torino.
                Trova il cinema più vicino e gli orari dei film della settimana. Cerca in tutta la provincia di Torino ».</p>
        </div>
    </div>
    <div class="carosello">
        <carousel>
            <slide>
              <a routerLink="/movies"><img src="../../../assets/437207.jpg" alt="first slide" style="display: block; width: 100%;"></a>
            </slide>
            <slide>
              <a routerLink="/movies"><img src="../../../assets/67-670663_hollywood-movie-poster-hd.jpg" alt="second slide" style="display: block; width: 100%;"></a>
            </slide>
            <slide>
              <a routerLink="/movies"><img src="../../../assets/poster-del-film-oblivion-sfondo-2048x1152_49.jpg" alt="third slide" style="display: block; width: 100%;"></a>
            </slide>
          </carousel>
    </div>
</div>

