<div class="container">
<div class="each-cinema">
    <div class="cinemaName">
        <h2>Cinema Lux</h2>
    </div>
    <carousel>
        <slide>
          <img src="../../../assets/cinema-lux/torino-cinema-lux.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>250 seats</h3>
            
          </div>
        </slide>
        <slide>
          <img src="../../../assets/cinema-lux/cinema-lux-sala-2.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>250 seats</h3>
            
          </div>
        </slide>
        <slide>
          <img src="../../../assets/cinema-lux/cinema-lux-torino-2.jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>250 seats</h3>
            
          </div>
        </slide>
      </carousel>
</div>
<div class="each-cinema">
    <div class="cinemaName">
        <h2>Cinema Romano</h2>
    </div>
    <carousel>
        <slide>
          <img src="../../../assets/cinema-romano/cinema-romano-torino-1.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>275 seats</h3>
         
          </div>
        </slide>
        <slide>
          <img src="../../../assets/cinema-romano/download.jfif" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>275 seats</h3>
            
          </div>
        </slide>
        <slide>
          <img src="../../../assets/cinema-romano/cinema-romano-torino-3.jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>275 seats</h3>
          </div>
        </slide>
      </carousel>
      
</div>
<div class="each-cinema">
    <div class="cinemaName">
        <h2>The Space Cinema</h2>
    </div>
    <carousel>
        <slide>
          <img src="../../../assets/spaceCinema/1535799102612.jpg--the_space_cinema__licenziati_in_tronco_3_operai_su_19.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>300 seats</h3>
        
          </div>
        </slide>
        <slide>
          <img src="../../../assets/spaceCinema/the_space_cinema1.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>300 seats</h3>
          </div>
        </slide>
        <slide>
          <img src="../../../assets/spaceCinema/luoghi_cinema_odeon_milano-731x487.jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3>300 seats</h3>
          </div>
        </slide>
      </carousel>
      
</div>

</div>