<div class="container">

    <div class="Success">
        <div class="title">
            <h2>Success</h2>
        </div>
        <div class="paragrafo">
            <p>Thanks. Ticket successfully booked <span class="font-awesome"><i class="far fa-thumbs-up"></i></span>.</p>
            <p>Please present this ticket at the cashdesk to finalize the purchase</p>
            <p>Click to go back to the homepage or visit your cart</p>
        </div>
        <div class="buttons">
            <div class="button-login">
                <button mat-raised-button color="warn" routerLink="/home">Home</button>
            </div>
            <div class="button-home">
                <button mat-raised-button color="warn" routerLink="/cart">Cart</button>
            </div>
        </div>
</div>
