<div class="container">


    <div class="Success">
        <div class="title">
            <h2>Success</h2>
        </div>
        <div class="paragrafo">
            <p>Visitor successfully created <span class="font-awesome"><i class="fas fa-handshake"></i></span>.</p>
            <p>Please click on the button to login or navigate to the home page</p>
        </div>
        <div class="buttons">
            <div class="button-login">
                <button mat-raised-button routerLink="/login">Login</button>
            </div>
            <div class="button-home">
                <button mat-raised-button routerLink="/home">Home</button>
            </div>
        </div>
    </div>

</div>
