.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

.example-container{
     /* border:  2px solid white;*/
      width: max-content;
      margin: 0 auto;
      margin-top: 2%;
}

.container{
    /*border: 2px solid yellow;*/
    margin-top: 5%;
    height: 100%;
}


.title{
    /*border: 2px solid brown;*/
    width: max-content;
    margin: 0 auto;
}

.border-form{
    
    width: 30%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px 5px #F44336;
    border-radius: 5px;
}

.formValid{
    color: red;
}

